<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
<connectionStrings><add name="SoapFactoryEntities" connectionString="metadata=res://*/SoapFactory.csdl|res://*/SoapFactory.ssdl|res://*/SoapFactory.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=T360-C14A\SQLEXPRESS;initial catalog=SoapFactory;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>