USE [master]
GO
/****** Object:  Database [SoapFactory]    Script Date: 2017. 09. 06. 11:46:02 ******/
CREATE DATABASE [SoapFactory]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SoapFactory', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\SoapFactory.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SoapFactory_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\SoapFactory_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SoapFactory].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SoapFactory]
GO
USE [SoapFactory]
GO
/****** Object:  Table [dbo].[FinancialTable]    Script Date: 2017. 09. 06. 11:46:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FinancialTable](
	[IdMovement] [int] IDENTITY(1,1) NOT NULL,
	[IsSelling] [bit] NOT NULL,
	[Amount] [float] NOT NULL,
	[FinancialPosition] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IngredientStockTable]    Script Date: 2017. 09. 06. 11:46:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IngredientStockTable](
	[TransactionNumber] [int] IDENTITY(1,1) NOT NULL,
	[IdIngredient] [int] NOT NULL,
	[Date] [date] NOT NULL,
	[DateOfBestUse] [date] NOT NULL,
	[Producer] [nvarchar](max) NOT NULL,
	[Quantity] [float] NOT NULL,
	[Price] [float] NULL,
	[Others] [nvarchar](max) NULL,
 CONSTRAINT [PK_IngredientStockMovemensTable] PRIMARY KEY CLUSTERED 
(
	[TransactionNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IngredientTable]    Script Date: 2017. 09. 06. 11:46:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IngredientTable](
	[IdIngredient] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Stock] [float] NULL,
 CONSTRAINT [PK_IngredientTable1] PRIMARY KEY CLUSTERED 
(
	[IdIngredient] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RecipeTable]    Script Date: 2017. 09. 06. 11:46:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RecipeTable](
	[IdRecipe] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Date] [date] NOT NULL,
	[IdIngredient] [int] NOT NULL,
	[Quantity] [float] NOT NULL,
	[Others] [nvarchar](max) NULL,
 CONSTRAINT [PK_RecipeTable] PRIMARY KEY CLUSTERED 
(
	[IdRecipe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SoapStockTable]    Script Date: 2017. 09. 06. 11:46:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SoapStockTable](
	[TransactionNumber] [int] IDENTITY(1,1) NOT NULL,
	[Date] [date] NOT NULL,
	[IdSoap] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[SellingPrice] [float] NULL,
 CONSTRAINT [PK_SoapStockMovemensTable] PRIMARY KEY CLUSTERED 
(
	[TransactionNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SoapTable]    Script Date: 2017. 09. 06. 11:46:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SoapTable](
	[IdSoap] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[IdRecipe] [int] NOT NULL,
	[TimeOfProduction] [date] NOT NULL,
	[TimeOfReadyToUse] [date] NOT NULL,
	[BestBeforeDate] [date] NOT NULL,
	[InStock] [int] NOT NULL,
	[Others] [nvarchar](max) NULL,
 CONSTRAINT [PK_SoapTable] PRIMARY KEY CLUSTERED 
(
	[IdSoap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[IngredientStockTable] ON 

INSERT [dbo].[IngredientStockTable] ([TransactionNumber], [IdIngredient], [Date], [DateOfBestUse], [Producer], [Quantity], [Price], [Others]) VALUES (4, 1, CAST(N'2017-08-09' AS Date), CAST(N'2019-01-20' AS Date), N'Walmark', 1000, 2500, NULL)
INSERT [dbo].[IngredientStockTable] ([TransactionNumber], [IdIngredient], [Date], [DateOfBestUse], [Producer], [Quantity], [Price], [Others]) VALUES (5, 2, CAST(N'2016-12-20' AS Date), CAST(N'2018-02-21' AS Date), N'Hals', 3000, 2800, NULL)
INSERT [dbo].[IngredientStockTable] ([TransactionNumber], [IdIngredient], [Date], [DateOfBestUse], [Producer], [Quantity], [Price], [Others]) VALUES (6, 3, CAST(N'2016-12-20' AS Date), CAST(N'2019-08-03' AS Date), N'Haribo', 5000, 6000, NULL)
SET IDENTITY_INSERT [dbo].[IngredientStockTable] OFF
SET IDENTITY_INSERT [dbo].[IngredientTable] ON 

INSERT [dbo].[IngredientTable] ([IdIngredient], [Name], [Stock]) VALUES (1, N'kakaóvaj', 3000)
INSERT [dbo].[IngredientTable] ([IdIngredient], [Name], [Stock]) VALUES (2, N'argánolaj', 4000)
INSERT [dbo].[IngredientTable] ([IdIngredient], [Name], [Stock]) VALUES (3, N'kókuszzsír', 5000)
SET IDENTITY_INSERT [dbo].[IngredientTable] OFF
SET IDENTITY_INSERT [dbo].[RecipeTable] ON 

INSERT [dbo].[RecipeTable] ([IdRecipe], [Name], [Date], [IdIngredient], [Quantity], [Others]) VALUES (4, N'diószappan', CAST(N'2017-08-09' AS Date), 10, 100, NULL)
INSERT [dbo].[RecipeTable] ([IdRecipe], [Name], [Date], [IdIngredient], [Quantity], [Others]) VALUES (5, N'diószappan', CAST(N'2017-08-09' AS Date), 3, 600, NULL)
INSERT [dbo].[RecipeTable] ([IdRecipe], [Name], [Date], [IdIngredient], [Quantity], [Others]) VALUES (6, N'diószappan', CAST(N'2017-08-09' AS Date), 4, 150, NULL)
SET IDENTITY_INSERT [dbo].[RecipeTable] OFF
SET IDENTITY_INSERT [dbo].[SoapStockTable] ON 

INSERT [dbo].[SoapStockTable] ([TransactionNumber], [Date], [IdSoap], [Quantity], [SellingPrice]) VALUES (6, CAST(N'2017-09-06' AS Date), 2, 2, 1000)
SET IDENTITY_INSERT [dbo].[SoapStockTable] OFF
SET IDENTITY_INSERT [dbo].[SoapTable] ON 

INSERT [dbo].[SoapTable] ([IdSoap], [Name], [IdRecipe], [TimeOfProduction], [TimeOfReadyToUse], [BestBeforeDate], [InStock], [Others]) VALUES (2, N'aromás diós', 4, CAST(N'2017-08-10' AS Date), CAST(N'2017-08-10' AS Date), CAST(N'2017-08-10' AS Date), 10, NULL)
INSERT [dbo].[SoapTable] ([IdSoap], [Name], [IdRecipe], [TimeOfProduction], [TimeOfReadyToUse], [BestBeforeDate], [InStock], [Others]) VALUES (3, N'krémes állagú diószappan', 4, CAST(N'2017-09-05' AS Date), CAST(N'2017-09-05' AS Date), CAST(N'2017-09-05' AS Date), 0, NULL)
INSERT [dbo].[SoapTable] ([IdSoap], [Name], [IdRecipe], [TimeOfProduction], [TimeOfReadyToUse], [BestBeforeDate], [InStock], [Others]) VALUES (5, N'levendulaszappa-illatos', 16, CAST(N'2017-09-05' AS Date), CAST(N'2017-09-05' AS Date), CAST(N'2017-09-05' AS Date), 10, NULL)
SET IDENTITY_INSERT [dbo].[SoapTable] OFF
ALTER TABLE [dbo].[IngredientStockTable]  WITH CHECK ADD  CONSTRAINT [FK_IngredientStockTable_IngredientTable1] FOREIGN KEY([IdIngredient])
REFERENCES [dbo].[IngredientTable] ([IdIngredient])
GO
ALTER TABLE [dbo].[IngredientStockTable] CHECK CONSTRAINT [FK_IngredientStockTable_IngredientTable1]
GO
ALTER TABLE [dbo].[RecipeTable]  WITH CHECK ADD  CONSTRAINT [FK_RecipeTable_IngredientTable] FOREIGN KEY([IdIngredient])
REFERENCES [dbo].[IngredientTable] ([IdIngredient])
GO
ALTER TABLE [dbo].[RecipeTable] CHECK CONSTRAINT [FK_RecipeTable_IngredientTable]
GO
ALTER TABLE [dbo].[SoapStockTable]  WITH CHECK ADD  CONSTRAINT [FK_SoapStockTable_SoapTable] FOREIGN KEY([IdSoap])
REFERENCES [dbo].[SoapTable] ([IdSoap])
GO
ALTER TABLE [dbo].[SoapStockTable] CHECK CONSTRAINT [FK_SoapStockTable_SoapTable]
GO
ALTER TABLE [dbo].[SoapTable]  WITH CHECK ADD  CONSTRAINT [FK_SoapTable_RecipeTable] FOREIGN KEY([IdRecipe])
REFERENCES [dbo].[RecipeTable] ([IdRecipe])
GO
ALTER TABLE [dbo].[SoapTable] CHECK CONSTRAINT [FK_SoapTable_RecipeTable]
GO
USE [master]
GO
